$white: #fff;
$black: #101828;
$light-black: rgba(71, 84, 103, 0.6);
$dark-grey: #667085;
$light-grey: #D0D5DD;
$grey-border: #EAECF0;
$grey-menu: #98A2B3;
$purple: #7F56D9;
$grey-bg: #F9FAFB;
$light-purple: #F9F5FF;
$purple-border:#D6BBFB;
$footer-bg:#1D2939;
$footer-border:#344054;
$footer-link: #F2F4F7;

$green-discount: #669F2A;
$star-active: #FEC84B;

$action-rpg-bg:#F0F9FF;
$action-rpg-text:#0086C9;

$multiplayer-rpg-bg:#FFF1F3;
$multiplayer-rpg-text:#E31B53;

$action-bg:#FFFAEB;
$action-text:#DC6803;

$shooter-bg:#F9F5FF;
$shooter-text:#7F56D9;

$card-game-bg:#ECFDF3;
$card-game-text:#039855;